node_modules/
node_modules.bak.*/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info
dist
build
*.egg
.DS_Store
*.swp
*.swo
*~
.vscode
.idea
backend_dev.log
backend_dev.pid
nohup.out
nohup.pid
tests
prisma
src
dist
tsconfig.json
package.json
package-lock.json
nest-cli.json

